@model Akademik.Application.DTO.ResidentDTO.DetailsResidentDTO

@{
    ViewData["Title"] = "Szczegóły";
}

<div class="container">
    <h1 class="text-center mb-4">Twoje Szczegóły</h1>

    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PESEL)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PESEL)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FirstName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LastName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.StudentCardNumber)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.StudentCardNumber)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Street)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Street)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.City)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.City)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Country)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Country)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PostalCode)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PostalCode)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.RoomNumber)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.RoomNumber)</dd>
            </dl>
        </div>

        <div class="col-md-4 text-center">
            @if (Model.Photo != null)
            {
                <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(Model.Photo)"
                     alt="Zdjęcie mieszkańca" class="img-thumbnail" style="max-width: 200px;" />
            }
            else
            {
                <span class="text-muted">Brak zdjęcia</span>
            }
        </div>
    </div>

    <div class="mt-4">
        
        <button class="btn btn-secondary" onclick="history.back()">Powrót</button>
       
    </div>
</div>
