@model Akademik.Application.DTO.RoomDTO.FewRoomInfoAndFewResidentinfoDTO

@{
    ViewData["Title"] = "Room Details";
}

<h2>Room Details</h2>
<form asp-controller="Room" asp-action="Details" method="get">
    <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Search by room number..." name="roomNumber">
         <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>
<div class="card">
    <div class="card-body flex-grow-1">
        <h5 class="card-title">Room Number: @Model.RoomNumber</h5>
        <p class="card-text">Number of Beds: @Model.NumberOfBeds</p>
        <p class="card-text">Available: @(Model.IsAvailable ? "Yes" : "No")</p>

        @if (Model.Residents.Any())
        {
            <h6 class="card-subtitle mb-2 text-muted">Residents:</h6>
            <ul class="list-group list-group-flush">
                @foreach (var resident in Model.Residents)
                {
                    <li class="list-group-item">
                        @if (User.IsInRole("Admin"))
                        {
                        <a asp-controller="Resident" asp-action="Details" asp-route-id="@resident.Id" class="btn btn-secondary">
                            @resident.FirstName @resident.LastName
                        </a>
                        }
                        <a class="list-group-item">
                            @resident.FirstName @resident.LastName
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <p class="text-muted">No residents in this room.</p>
        }
    </div>

    <div class="card-footer">
        @if (User.IsInRole("Admin"))
        {
        <a asp-action="Edit" asp-route-roomNumber="@Model.RoomNumber" class="btn btn-primary">Edit</a>
        }
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>