@model Akademik.Application.DTO.RoomDTO.FewRoomInfoAndFewResidentinfoDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Room";
}

<h1 class="mb-3">Edit Room @Html.DisplayFor(model => model.RoomNumber)</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NumberOfBeds" class="form-label"></label>
                <input asp-for="NumberOfBeds" class="form-control" />
                <span asp-validation-for="NumberOfBeds" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" asp-for="IsAvailable" id="IsAvailableCheckbox" />
                <label class="form-check-label" asp-for="IsAvailable">@Html.DisplayNameFor(model => model.IsAvailable)</label>
            </div>
            <div class="mb-3">
                <h3>Residents</h3>
                @if (Model.Residents.Any())
                {
                    <ul class="list-group">
                        @foreach (var resident in Model.Residents)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="@Url.Action("Details", "Resident", new { id = resident.Id })">@resident.FirstName @resident.LastName</a>
                                <a asp-controller="Resident" asp-action="RemoveResidentFromRoom"
                                   asp-route-id="@resident.Id" class="btn btn-danger btn-sm">Remove</a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p class="text-muted">No residents in this room.</p>
                }
            </div>
            @if (Model.IsAvailable == true && Model.countOfResidentsWithoutRoom !=0 )
            {
                <input type="hidden" asp-for="RoomNumber" />

                <div id="RoomAssignment" style="display: @(Model.IsAvailable ? "block" : "none");">
                    <h3>Room Assignment (Optional)</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label asp-for="SelectedResidentId" class="form-label">Choose resident:</label>
                        </div>
                        <div class="col-md-10">
                            <select asp-for="SelectedResidentId" class="form-control" asp-items="@(new SelectList(ViewBag.ResidentsWithoutRoom, "Id", "FullName"))">
                                <option value="">-- Choose resident --</option>
                            </select>
                        </div>
                    </div>
                </div>
            }
            else if (Model.IsAvailable == false)
            {
                <h3>Room is not available</h3>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save Changes</button>
                <a asp-action="Index" class="btn btn-outline-secondary" onclick="history.back()">Go back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var isAvailableCheckbox = document.getElementById("IsAvailableCheckbox");
        var roomAssignmentSection = document.getElementById("RoomAssignment");

        isAvailableCheckbox.disabled = (@Model.Residents.Count > 0);
        isAvailableCheckbox.addEventListener('change', function () {
            roomAssignmentSection.style.display = this.checked ? 'block' : 'none';
        });
    </script>
}