@model IEnumerable<Akademik.Application.DTO.ResidentDTO.FewResidentInfoDTO>

@{
    ViewData["Title"] = "Residents";
}

<h1>Residents</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add a resident</a>
</p>
<form asp-controller="Resident" asp-action="DetailsByPesel" method="get">
    <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Search by resident PESEL..." name="PESEL">
        <button class="btn btn-dark" type="submit">Search</button>
    </div>
</form>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card m-3 border d-flex flex-column" style="width: 18rem;">
                <div class="card-body flex-grow-1">
                    <h5 class="card-title">@item.FirstName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.LastName</h6>
                    <p class="card-text">
                        @if (item.RoomNumber == null)
                        {
                            <span>Resident wasn't assigned to room</span>
                        }
                        else
                        {
                            <span>Room ID: @item.RoomNumber</span>
                        }
                    </p>
                    <div class="card-footer mt-auto">
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>